body {
  margin: 0;
  padding: 0;
  background-color: white;
  
}



/* First page */
.firstPage {
  background-color: #1c1a19;
  background-image: url('Group.png');
  background-repeat: no-repeat;
  background-position: 100% 100%;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

a {
  text-decoration: none;
  color: whitesmoke;
}

ul {
  list-style: none;
}

.headline {
  margin: 0 24px 0 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-family: Crete-Round, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  margin-top: 50px;
  margin-bottom: 0;
  letter-spacing: 0.37px;
  color: #ff6b00;
}

.menu {
  height: 2px;
  margin: 6px 0;
}

.displayedMenu {
  display:none;
}
.name {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  padding-top: 20px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 24px;
}

.subtitle {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 0;
}

.description {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  max-width: 50%;
}

.icons {
  display: flex;
}

.icons li {
  padding-right: 12px;
}

/* Second page */
.whitePart {
  background-color: white;
  width: 100%;
}

.workTitle {
  font-family: Crete-Round, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  left: 0;
  top: 682px;
  padding-left: 20px;
  color: black;
}

.yoga {
  margin-top: 30px;
  padding-left: 15px;
}

.border {
  width: 87.2%;
  height: 0;
  left: 0;
  top: 107px;
  border: 1px solid #212121;
  padding-left: 20px;
}

.overflow {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 20px;
  background-color: white;
}

.secondPage {
  background: #e5e5e5;
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
}

.secondItem {
  background-image: url('secondBG.png');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 40px;
  margin-left: 4px;
  padding: 20px;
  padding-bottom: 0;
  width: 87.2%;
}

.bigText {
  font-family: Crete-Round, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: white;
}

.smallText {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: white;
  padding-right: 10px;
  padding-left: 10px;
}

.mainText {
  color: black;
  padding-left: 10px;
}

.socials {
  display: flex;
  padding-left: 10px;
}

.boxes {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  border: 1px solid #8993a4;
  box-sizing: border-box;
  padding: 10px 12px;
  margin-right: 12px;
  color: white;
}

.specialButton {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  position: static;
  width: 124px;
  height: 48px;
  left: 0;
  top: 259px;
  background: #ff6b00;
  color: white;
  border: 0;
  margin-left: 12px;
}

.specialButton:hover {
  color: #f55800;
  background-color: #fff5e1;
  border: #f55800 solid 1px;
}

.specialButton:active {
  background-color: #e05304;
  color: white;
}

.card1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: white;
}

.regButton {
  margin-left: 4px;
  margin-right: 4px;
  border: 0;
  height: 48px;
  left: 0;
  top: 0;
  background: #ff6b00;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: white;
  justify-content: space-around;
}

.regButton:hover {
  color: #f55800;
  background-color: #fff5e1;
  border: #f55800 solid 1px;
}

.regButton:active {
  background-color: #e05304;
  color: white;
}

.specialItem {
  color: black;
}

.works {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  align-items: center;
}

/* Third page */

.about {
  height: 700px;
}
.aboutMe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #1c1a19;
  background-image: url('Frame.png');
  background-repeat: no-repeat;
  background-position: 100% 14%;
  color: #f4f5f7;
  width: 100%;
}

.bioTitle {
  font-family: Crete-Round, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  margin-bottom: 0;
  margin-top: 0;
  padding: 24px;
  padding-top: 120px;
  display: flex;
  justify-content: center;
}

.bio {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding: 24px;
  margin: 0;
}

.resume {
  height: 48px;
  left: 12px;
  top: 12px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  background: #ff6b00;
  border: 0;
  margin-left: 20px;
  margin-right: 20px;
  color: white;
}

.resume:hover {
  color: #f55800;
  background-color: #fff5e1;
  border: #f55800 solid 1px;
}

.resume:active {
  background-color: #e05304;
  color: white;
}

.listTitle {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.rectangleIcon {
  background-image: url('./Shapes/Rectangle.png');
  background-repeat: no-repeat;
  background-position: 21% 48%;
}

.rhombusIcon {
  background-image: url('./Shapes/Rhombus.png');
  background-repeat: no-repeat;
  background-position: 18% 48%;
}

.circleIcon {
  background-image: url('./Shapes/Circle.png');
  background-repeat: no-repeat;
  background-position: 35% 48%;
}

.itemsList {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding: 5px;
}

.whiteLine {
padding-top:200px;
}

.form {
  background-color: white;
  display: flex;
  flex-direction: column;
}

.formTitle {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #172b4d;
  padding: 24px;
  padding-top: 120px;
}

.formSection {
  border-bottom: 1px solid lightgray;
}

form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  padding-left: 0;
}

.formUl {
  padding: 0;
}

.formInput {
  padding: 10px 0 10px 0;
  border-bottom: 1px lightgray solid;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

input {
  border: none;
  padding: 0 16px 0 16px;
}

textarea {
  background-color: #e5e5e5;
  height: 114px;
  width: 100%;
  border: none;
  padding: 12px;
  font-family: Inter, sans-serif;
}

.formButton {
  padding: 12px;
  width: 131px;
  height: 48px;
  left: 98px;
  background: #ff6b00;
  color: #fff;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  border: none;
  margin-bottom: 120px;
}

.noBorder {
  border: none;
}

.iconsBot {
  display: flex;
  justify-content: center;
  padding: 0;
  gap: 10px;
  align-items: center;

  /* background-color: black; */
}

/* Desktop version */

@media only screen and (min-width: 1440px) {
/* First page */
  .container {
    background: #3E3C3C;
    margin:0;
    padding: 26px 154px;
  }
  .firstPage {
    background-image: url('./Desktop/Illustration-header.png');
    background-repeat: no-repeat;
    background-position:100% 45%;
  }
.name {
font-family: Inter, sans-serif;
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 20px;
padding-top:0;
}
.headline {
 padding: 192px 731px 246px 143px;
}
.menu {
  display:none;
}

.displayedMenu {
  display:flex;
  font-family: Inter, sans-serif;
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 20px;
color:white;
gap:10px;
justify-content: space-between;
}

.desktopRow {
  display:flex;
  flex-direction: row-reverse;
    flex-wrap: nowrap;
    align-items: center;
}
.icons {
  display:flex;
  flex-direction:column;
  align-items:center;
  gap:10px;
}
.title {
  font-size: 72px;
line-height: 82px;
}
.subtitle {
font-family: Inter, sans-serif;
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 44px;
}
.description {
  font-family: Inter, sans-serif;
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 32px;
}
/* Second page */
.whitePart {
  display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding-top:100px;
}
.border {
  width: 764px;
  margin-left:100px;
}
.workTitle {
  font-family: Crete-Round, sans-serif;
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 52px;
color: #091E42;
padding-left:153px;
}
.preCard {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background: white;
}
.yoga {
  padding-left:100px;
  width: 684px;
  height: 448px;
}
.bigText {
  font-family: Crete-Round, sans-serif;
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 52px;
color:#091E42;
}
.smallText {
  padding-right:200px;
  font-family: Inter, sans-serif;
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 28px;
color: #091E42;
}
.cards {
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows:repeat(2, 1fr);
  padding-left:10px;
  padding-bottom:100px;
}
.firstCard {
  background-image: url('./Cards/firstCard.png');
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 40px;
  margin-left: 4px;
  padding: 20px;
  padding-bottom: 0;
}
.secondCard {
  background-image: url('./Cards/secondCard.png');
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 40px;
  margin-left: 4px;
  padding: 20px;
  padding-bottom: 0;
}
.thirdCard {
  background-image: url('./Cards/thirdCard.png');
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 40px;
  margin-left: 4px;
  padding: 20px;
  padding-bottom: 0;
}
.fourthCard {
  background-image: url('./Cards/fourthCard.png');
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 40px;
  margin-left: 4px;
  padding: 20px;
  padding-bottom: 0;
}
.fifthCard {
  background-image: url('./Cards/fifthCard.png');
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 40px;
  margin-left: 4px;
  padding: 20px;
  padding-bottom: 0;
}
.sixthCard {
  background-image: url('./Cards/sixthCard.png');
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 40px;
  margin-left: 4px;
  padding: 20px;
  padding-bottom: 0;
}
.regButton {
  display:none;


}
/* Third page */

.aboutMe {
  display:flex;
  background-image:none;
  background-color: #262626;
}
.thirdPage {
  background-image: url("./Desktop/Dog.png");
  background-repeat:no-repeat;
  background-position: 100% 35%;
  
 display: flex;
}
.about {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  padding-left:142px;
}
.bio {
  padding-right:600px;
  padding-bottom:50px;
}
.whiteLine {
  width:1156px;
  height:1px;
}
.lists {
  display:grid;
grid-template-columns: 1fr 1fr 1fr;
padding-bottom: 200px;
}
.itemsList {
  align-items: flex-start;
  padding-left:153px;

}
/* Form */
.form {
  align-items: center;
  padding-top:50px;
}
.formSection {
display:flex;
flex-direction:row;
justify-content: space-evenly;
    max-width: 900px;
    align-content: stretch;
    gap: 30px;
}
.actualForm{
margin: 0;
align-items:stretch;
width:70%;
}
.formTitle {
padding:0;
width:30%;
}
.formInput {
  border-bottom: 684px 1px solid lightgray;
  
}
}


/* Tablet version */
@media only screen and (max-width: 1440px) and (min-width:768px) {
  .container {
    background: #3E3C3C;
    margin:0;
    padding: 26px 154px;
  }
  .firstPage {
    background-image: url('./Desktop/Illustration-header.png');
    background-repeat: no-repeat;
    background-position:100% 88%;
    background-size: 50%;
  }
.name {
font-family: Inter, sans-serif;
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 20px;
padding-top:0;
}
.menu {
  display:none;
}

.displayedMenu {
  display:flex;
  font-family: Inter, sans-serif;
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 1px;
gap:10px;
justify-content: space-between;
align-items: center;

}
.desktopRow {
  display:flex;
  flex-direction: row-reverse;
    flex-wrap: nowrap;
    align-items: center;
    height: 800px;
}
.icons {
  display:flex;
  flex-direction:column;
  align-items:center;
  gap:10px;
}
.title {
  font-size: 72px;
line-height: 82px;
max-width: 40%
}
.subtitle {
font-family: Inter, sans-serif;
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 44px;
}
.description {
  font-family: Inter, sans-serif;
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 32px;
}
/* Second page */
.whitePart {
  display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.border {
  width: 50%;
}
.workTitle {
  font-family: Crete-Round, sans-serif;
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 52px;
color: #091E42;

}
.preCard {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background: white;
}
.yoga {

max-width: 684px;
}
.bigText {
  font-family: Crete-Round, sans-serif;
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 52px;
color:#091E42;
}
.smallText {

  font-family: Inter, sans-serif;
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 28px;
color: #091E42;
}
.cards {
  display:grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows:repeat(3, 1fr);
  padding-left:10px;
  padding-bottom:100px;
}
.firstCard {
  background-image: url('./Cards/firstCard.png');
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 40px;
  margin-left: 4px;
  padding: 20px;
  padding-bottom: 0;
}
.secondCard {
  background-image: url('./Cards/secondCard.png');
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 40px;
  margin-left: 4px;
  padding: 20px;
  padding-bottom: 0;
}
.thirdCard {
  background-image: url('./Cards/thirdCard.png');
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 40px;
  margin-left: 4px;
  padding: 20px;
  padding-bottom: 0;
}
.fourthCard {
  background-image: url('./Cards/fourthCard.png');
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 40px;
  margin-left: 4px;
  padding: 20px;
  padding-bottom: 0;
}
.fifthCard {
  background-image: url('./Cards/fifthCard.png');
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 40px;
  margin-left: 4px;
  padding: 20px;
  padding-bottom: 0;
}
.sixthCard {
  background-image: url('./Cards/sixthCard.png');
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 40px;
  margin-left: 4px;
  padding: 20px;
  padding-bottom: 0;
}
.regButton {
  display:none;


}
/* Third page */

.aboutMe {
  display:flex;
  background-image:none;
  background-color: #262626;
}
.thirdPage {
  background-image: url("./Desktop/Dog.png");
  background-repeat:no-repeat;
  background-position: 100% 35%;
  background-size: 35%;
 display: flex;
}
.about {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: flex-start;
      padding-left: 10px;
}
.bio {
  max-width: 500px;
  padding-bottom:50px;
}
.whiteLine {
  width:50%;
  height:1px;
  padding-top:20px;
}
.lists {
  display:grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(3, 1fr);
}
.itemsList {
  align-items: flex-start;
  align-items: center;
}
.skills {
  display:flex;
  flex-direction: column;
  grid-area: 2 /  1 / span 1 /span 2;
}

/* Form */
.form {
  align-items: center;
  padding-top:50px;
}
.formSection {
display:flex;
flex-direction:row;
justify-content: space-evenly;
    max-width: 900px;
    align-content: stretch;
    gap: 30px;
    border-bottom: 1px solid lightgray;
}
.actualForm{
margin: 0;
align-items:stretch;
width:70%;
}
  .formTitle {
  padding:0;
  width:30%;
  }
.formInput {
  border-bottom: 684px 1px solid lightgray;
  
}


}