body {
  margin: 0;
  padding: 0;
}

/* First page */
.firstPage {
  background-color: black;
  background-image: url('Group.png');
  background-repeat: no-repeat;
  background-position: 100% 170%;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 375px;
}

a {
  text-decoration: none;
  color: whitesmoke;
}

ul {
  list-style: none;
}

.headline {
  margin: 0 24px 0 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-family: Crete-Round, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  margin-top: 50px;
  margin-bottom: 0;
  letter-spacing: 0.37px;
  color: #ff6b00;
}

.hamburger {
  width: 25px;
  height: 2px;
  margin: 6px 0;
}

.name {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  padding-top: 20px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 24px;
}

.subtitle {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 0;
}

.description {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.icons {
  display: flex;
}

.icons li {
  padding-right: 12px;
}

/* Second page */

.workTitle {
  font-family: Crete-Round, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  left: 0;
  top: 682px;
  padding-left: 20px;
}

.yoga {
  margin-top: 30px;
  padding-left: 15px;
}

.border {
  width: 327px;
  height: 0;
  left: 0;
  top: 107px;
  border: 1px solid #212121;
  padding-left: 20px;
}

.overflow {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 20px;
}

.secondPage {
  background: #e5e5e5;
  display: grid;
  grid-template-columns: 1fr;
  width: 375px;
}

.secondItem {
  background-image: url('secondBG.png');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 40px;
  margin-left: 4px;
  padding: 20px;
  width: 327px;
}

.bigText {
  font-family: Crete-Round, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: white;
}

.smallText {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: white;
  padding-right: 10px;
  padding-left: 10px;
}

.mainText {
  color: black;
  padding-left: 10px;
}

.socials {
  display: flex;
  padding-left: 10px;
}

.boxes {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  border: 1px solid #8993a4;
  box-sizing: border-box;
  padding: 10px 12px;
  margin-right: 12px;
  color: white;
}

.specialButton {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  position: static;
  width: 124px;
  height: 48px;
  left: 0;
  top: 259px;
  background: #ff6b00;
  color: white;
  border: 0;
  margin-left: 12px;
}

.card1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.regButton {
  width: 327px;
  height: 48px;
  left: 0;
  top: 0;
  background: #ff6b00;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: white;
  padding-left: 100px;
}

.specialItem {
  color: black;
}

.works {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Third page */
.aboutMe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;
  background-image: url('Frame.png');
  background-repeat: no-repeat;
  background-position: 100% 28%;
  color: #f4f5f7;
  width: 375px;
}

.bioTitle {
  font-family: Crete-Round, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  margin-bottom: 0;
  margin-top: 0;
  padding: 24px;
  padding-top: 120px;
  display: flex;
  justify-content: center;
}

.bio {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding: 24px;
  margin: 0;
}

.resume {
  height: 48px;
  left: 12px;
  top: 12px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  background: #ff6b00;
  border: 0;
  margin-left: 20px;
  margin-right: 20px;
  color: white;
}

.listTitle {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.rectangleIcon {
  background-image: url('shapes/Rectangle.png');
  background-repeat: no-repeat;
  background-position: 21% 48%;
}

.rhombusIcon {
  background-image: url('shapes/Rhombus.png');
  background-repeat: no-repeat;
  background-position: 18% 48%;
}

.circleIcon {
  background-image: url('shapes/Circle.png');
  background-repeat: no-repeat;
  background-position: 35% 48%;
}

.itemsList {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding: 5px;
}

.whiteLine {
  padding-top: 320px;
  padding-bottom: 100px;
}
